body{
	margin: 0px;
	padding: 0px;
	background: #000;
	color: white;
	overflow: hidden;
}
//Tasc
.task{
	text-align: start;
	padding: 0 10px;
	height: 5vw;
	width: 50vw;
	border:blue 1px solid;
	margin: 0 auto;
	border-radius: 20px;
	//background: rgb(0, 26, 128);
}

//App
.App{
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto;
	row-gap: 1vw;
	text-align: center;
	border: 1px white solid;
}

// App  top
.top{
	color: yellow;
	font-size: 30px;
}

//tasks BTN
.btn{
	text-align: end;
	position: relative;
	top: -30px;
}
.writeTask{
	
	width: 10vw;
}